set -g allow-rename off
set -g mouse on
setw -g mode-keys vi
set -g @shell_mode 'vi'

set -g status on
set -g status-interval 5
set -g status-position top
set -g status-style fg=black,bg=colour4
set -g status-utf8 on
set -g status-left '  #S:#P  '
set -g status-right '#{prefix_highlight} #H | %a %Y-%m-%d %H:%M'
#set -g pane-active-border-fg colour1

# List of plugins
{% for plugin in tmux_plugins %}
set -g @plugin '{{ plugin.owner }}/{{ plugin.name }}'
{% endfor %}

# Initialize TMUX plugin manager
# (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'

